* {
    border-color: #FFaaFF; /* originally #7030a0 */
    background-color: #070a1b;
}

.pane {
    -fx-background-color: #1f1543; /* top bar */
}

.root {
    -fx-background-color: #050714; /* main background */
}

.login-pane {
    -fx-border-color: border-color;
    -fx-background-color: background-color;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-border-insets: -15;
    -fx-background-insets: -15;
}

.settings-field {
    -fx-border-color: border-color;
    -fx-background-color: background-color;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-border-insets: -3;
}

.login-field {
    -fx-border-color: border-color;
    -fx-background-color: background-color;
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-border-insets: -15;
    -fx-background-insets: -15;
    -fx-text-fill: white;
}


.settings-field-title {
    -fx-border-color: border-color;
    -fx-background-color: background-color;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-border-insets: -15;
    -fx-background-insets: -15;
}