.main-field {
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-border-insets: -10;
    -fx-background-insets: -10;
}

.main-pane {
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-border-insets: -5;
    -fx-background-insets: -5;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.main-img {
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-border-insets: -5;
    -fx-background-insets: -5;
    -fx-background: transparent;
    -fx-background-color: transparent;
}