.main-field {
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-border-insets: -10;
    -fx-background-insets: -10;
}

.main-pane {
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-border-insets: -5;
    -fx-background-insets: -5;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.main-img {
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-border-insets: -5;
    -fx-background-insets: -5;
    -fx-background: transparent;
    -fx-background-color: transparent;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #7030a0;
}
.list-cell { -fx-text-fill: white;}
.list-cell:odd { -fx-background-color: list-odd; }
.list-cell:even { -fx-background-color: list-even; }