* {
border-color: #3d3635; /* originally #7030a0 */
    background-color: #e3ac6d;
    text-color: #562a0d;
    title-color: #3d3635;
    button-text: #562a0d;
    standard-button-color: #563517;
    standard-button-text: #c6a28a;
    extreme-button-color: #8a3c26; /* originally #ba1b1f */
    extreme-button-text: #c6a28a;
    susmanager-color: #3d3635;
    top-bar-color: #ba6324;
    }