* {
    border-color: #3d3635; /* originally #7030a0 */
    background-color: #f0d3ae;
    text-color: #3d3635;
    title-color: #3d3635;
    button-text: #3d3635;
    standard-button-color: #30b054;
    standard-button-text: #3d3635;
    extreme-button-color: #ba1b1f; /* originally #ba1b1f */
    extreme-button-text: #3d3635;
    susmanager-color: #3d3635;
    top-bar-color: #3d3635;
}