* {
    border-color: #404040; /* originally #7030a0 */
        background-color: #2b2b2b;
        text-color: #ffffff;
        title-color: #ffffff;
        button-text: #404040;
        standard-button-color: #2c9463;
        standard-button-text: #ffffff;
        extreme-button-color: #fb4934; /* originally #ba1b1f */
        extreme-button-text: #ffffff;
        susmanager-color: #ffffff;
        top-bar-color: #404040;
        }