* {
    border-color: #7030a0; /* originally #7030a0 */
    background-color: #070a1b;
    text-color: WHITE;
    title-color: WHITE;
    button-text: WHITE;
    standard-button-color: #30b054;
    standard-button-text: WHITE;
    extreme-button-color: #ba1b1f; /* originally #ba1b1f */
    extreme-button-text: WHITE;
    susmanager-color: WHITE;
    top-bar-color: #1f1543;
    cell-bg-even: #151e51;
    cell-bg-odd: #2f3e96;
    cell-text-color: WHITE;
    cell-text-color-even: cell-text-color;
    cell-text-color-odd: cell-text-color;
}