* {
    border-color: #928374; /* originally #7030a0 */
        background-color: #32302f;
        text-color: #8ec07c;
        title-color: #8ec07c;
        button-text: #32302f;
        standard-button-color: #8ec07c;
        standard-button-text: #32302f;
        extreme-button-color: #fb4934; /* originally #ba1b1f */
        extreme-button-text: #32302f;
        susmanager-color: #32302f;
        top-bar-color: #8ec07c;
        }