* {
    border-color: #ffa069; /* originally #7030a0 */
        background-color: #ffe3b0;
        text-color: #ffa069;
        title-color: #ffa069;
        button-text: #ffa069;
        standard-button-color: #ffa069;
        standard-button-text: #ffffff;
        extreme-button-color: #ffa069; /* originally #ba1b1f */
        extreme-button-text: #ffffff;
        susmanager-color: #ffffff;
        top-bar-color: #ffa069;
        }