* {
border-color: #3c5090; /* originally #7030a0 */
    background-color: #fdfdfd;
    text-color: #000000;
    title-color: #3d3635;
    button-text: #000000;
    standard-button-color: #1ecd97;
    standard-button-text: #f6fcf7;
    extreme-button-color: #fb797e; /* originally #ba1b1f */
    extreme-button-text: #ffffff;
    susmanager-color: #3d3635;
    top-bar-color: #ab81c7;
    }