* {
    border-color: #d3d8dc; /* originally #7030a0 */
    background-color: #292e39;
    text-color: #D8DEE9;
    title-color: #88c0d0;
    button-text: #D8DEE9;
    standard-button-color: #88c0d0;
    standard-button-text: #3b4252;
    extreme-button-color: #88c0d0; /* originally #ba1b1f */
    extreme-button-text: #3b4252;
    susmanager-color: #D8DEE9;
    top-bar-color: #292e39;
}