* {
    border-color: #ac5d6f; /* originally #7030a0 */
    background-color: #24283b;
    text-color: WHITE;
    title-color: WHITE;
    button-text: WHITE;
    standard-button-color: #ac5d6f;
    standard-button-text: WHITE;
    extreme-button-color: #5f6e60; /* originally #ba1b1f */
    extreme-button-text: WHITE;
    susmanager-color: WHITE;
    top-bar-color: #22293b;
}